nav {
    padding: 16px;
    border-bottom: 1px solid black;
}

a:hover {
    color: green;
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: auto;
}